{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>IoT ASCON</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}assets/" rel="stylesheet"> -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: iPortfolio - v1.2.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{% static 'img/profile-img_1.png' %}" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">IoT ASCON</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="#home"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
                    <li><a href="#about"><i class="bx bx-user"></i> <span>Acerca de</span></a></li>
                    <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resumen</span></a></li>
                    <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portafolio</a></li>
                    <li><a href="#services"><i class="bx bx-server"></i> Servicios</a></li>
                    <li>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'dashboard:device_list' %}">
                                <i class="bx bx-user"></i> Bienvenido {{ request.user.username }}
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                <i class="bx bx-door-open"></i> Login
                            </a>
                        {% endif %}
    
                    </li>

                </ul>
            </nav><!-- .nav-menu -->
            <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Universidad San Buenaventura Cali</h1>
            <p><span class="typed" data-typed-items="Sensorizacion ambiental para la calidad del aire, implementando un algoritmo criptografico liviano para transportar datos en una arquitectura IoT, Director Vladimir Trujillo, Ing Mauricio Lopez, Ing Andres Quintero"></span></p>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Acerca de</h2>
                    <p> Esta investigacion tuvo como objetivo seleccionar un algoritmo criptografico liviano para
                        transportar datos en una arquitectura IoT sobre una red publica, implementando una red de
                        sensorizacion ambiental en la ciudad de Cali, colombia que pueda ser desplegada de forma
                        facil garantizando la calidad de la informacion. Esta dirigido a la academia y empresas que
                        proveen sistemas de sensorizacion, asi como a entes gubernamentales. Se utilizo investigacion
                        basica y aplicada. El instrumento principal fue la observacion, como investigadores (observa-
                        dores) participantes de los algoritmos que se estan estudiando. A partir de los
                        resultados se identificaron las necesidades existentes desde la seguridad en las redes publicas 
                        para los dispositivos IoT de sensorizacion. Se encontro que los algoritmos criptograficos
                        candidatos para estandarizacion ya estan en la fase finalistas, de los cuales fue seleccionado
                        ASCON por sus propiedades y caracterısticas que permiten su uso en los dispositivos esco-
                        gidos para este fin ademas de tener una trayectoria comprobable en otras competencias.
                        Por otra parte, se implementaron dos equipos de sensorizacion conectados en red publica.
                        Frente a los resultados generados, se desarrolla el codigo en lenguaje C haciendo uso el algoritmo
                        criptografico ASCON y usando como sistema embebido FreeRTOS y el montaje con modulos de hardware microcon-
                        troladores Raspberry y ESP32 conectando los sensores a un servidor central que recibe la
                        informacion encriptada y comprobando que la data transferida viaja de una forma segura</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="{% static 'img/clasificacionAlgoritmo.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Algoritmos de la ronda 2 que proveen AEAD and hashing</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>ACE</strong> Permutation Based</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>ASCON</strong> Permutation Based</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>DryGASCON</strong> Permutation Based</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Gimli</strong> Permutation Based</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>KNOT</strong> Permutation Based</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>ORANGE</strong> Permutation Based</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>PHOTON-Beetle</strong> Permutation Based</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>SPARKLE (SCHWAEMM and ESCH)</strong>Permutation Based</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            ASCON es uno de los algoritmos mas conocidos en la ronda 2 del proyecto de criptografia
                            ligera de la NIST. Se publico por primera vez como parte del concurso CAESAR. En es-
                            ta competencia, el portafolio final se dividio en tres casos de uso, siendo el primero el uso
                            aplicaciones ligeras siendo ASCON la primera opcion para este caso de uso. Durante la
                            competencia, ASCON fue analizado en profundidad. Actualmente existen mas de 15 publi-
                            caciones que analizan la seguridad de ASCON y mas de 80 analizan ASCON de forma mas
                            general. Todas estas publicaciones demuestran la seguridad de ASCON.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    <h2>Desarrollo</h2>
                    <p>El proyecto de investigacion se trabajo en el transcurso de la maestria en ingenieria de software, con la asesoria del Ingeniero Vladimir Trujillo</p>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="icofont-search-document"></i>
                            <span data-toggle="counter-up">110</span>
                            <p><strong>Horas de investigacion</strong><br>Ing. Mauricio Lopez<br>Ing. Andres Quintero</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="count-box">
                            <i class="icofont-teacher"></i>
                            <span data-toggle="counter-up">20</span>
                            <p><strong>Horas de asesoria</strong><br>Director. Vladimir Trujillo</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="count-box">
                            <i class="icofont-code"></i>
                            <span data-toggle="counter-up">110</span>
                            <p><strong>Horas de desarrollo</strong><br>Ing. Mauricio Lopez<br>Ing. Andres Quintero</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="300">
                        <div class="count-box">
                            <i class="icofont-test-tube-alt"></i>
                            <span data-toggle="counter-up">30</span>
                            <p><strong>Horas de Pruebas</strong><br>Ing. Mauricio Lopez<br>Ing. Andres Quintero</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Implementacion</h2>
                    <p>Para la implementacion del proyecto se utilizaron las siguientes tecnologias</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill">HTML <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Dockers <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">MYSQL <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill">PYTHON <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">C<i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">AWS <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">API REST <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Iot <i class="val"></i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resumen</h2>
                    <p>Perfil profesional de los ingenieros investigadores</p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Mauricio Lopez</h3>
                        <div class="resume-item pb-0">
                            <h4>Perfil</h4>
                            <p><em>Ingeniero de sistemas con mas de 15 años de experiencia </em></p>
                            <ul>
                                <li>Cali, Colombia</li>
                                <li>darketmaster@gmail.com</li>
                                <li>linkedin.com/in/mauricio-alberto-lopez-torres-a683b973</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Educacion</h3>
                        <div class="resume-item">
                            <h4>Ingeniero Sistemas</h4>
                            <h5>2011 - 2016</h5>
                            <p><em>Universidad Libre</em></p>
                            <p>Miembro equipo codenator en el IEEEXtreme 2013, 2014 y 2015</p>
                            <p>Miembro equipo ganador 2da Maraton Programacion USACA 2014</p>
                        </div>
                        <div class="resume-item">
                            <h4>Conocimiento</h4>
                            <ul>
                                <li>C, C++, Perl, Python, Java, Unity, Bash, JavaScript</li>
                                <li>Django</li>
                                <li>Mysql, MongoDb, Oracle, postgresql</li>
                                <li>Unix, Dockers</li>
                                <li>Aws</li>
                                <li>Gestion de proyectos</li>
                                <li>Iot</li>
                                <li>Regexp</li>
                                <li>API Rest</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Andres Quintero</h3>
                        <div class="resume-item pb-0">
                            <h4>Perfil</h4>
                            <p><em>Ingeniero de sistemas con mas de 7 años de experiencia </em></p>
                            <ul>
                                <li>Cali, Colombia</li>
                                <li>zachafe@gmail.com</li>
                                <li>linkedin.com/in/andres-felipe-quintero-351119102/</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Educacion</h3>
                        <div class="resume-item">
                            <h4>Ingeniero Sistemas</h4>
                            <h5>2012 - 2018</h5>
                            <p><em>Universidad Catolica Lumen Gentium</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Conocimiento</h4>
                            <ul>
                                <li>PHP, Perl, Python, Bash, JavaScript</li>
                                <li>Django</li>
                                <li>Mysql, MongoDb, Oracle, postgresql</li>
                                <li>Unix, Dockers</li>
                                <li>Aws</li>
                                <li>Networking</li>
                                <li>Regexp</li>
                                <li>API Rest</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Galeria</h2>
                    <p>Software y hadware implementados en el proyecto de investigacion</p>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Todos</li>
                            <li data-filter=".filter-app">Sensores</li>
                            <li data-filter=".filter-card">Embebidos</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-11.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-11.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-12.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-12.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-13.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-13.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-14.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-14.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-15.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-15.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-16.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-16.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-17.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-17.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-18.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-18.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'img/portfolio/portfolio-19.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{% static 'img/portfolio/portfolio-19.jpg' %}" data-gall="portfolioGallery"
                                    class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Servicios</h2>
                    <p>El proyecto de investigacion presta los siguientes servicios.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-key"></i></div>
                        <h4 class="title"><a href="">Encriptacion</a></h4>
                        <p class="description">Aplicando Ascon se pueden encriptar la informacion de extremo a extremo</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-brand-aircell"></i></div>
                        <h4 class="title"><a href="">Calidad del aire</a></h4>
                        <p class="description">A traves de los sensore MQ135 y SDS011 se puede medir Particulas y gases</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-automation"></i></div>
                        <h4 class="title"><a href="">Embebidos</a></h4>
                        <p class="description">Instalar embebidos de bajo consumo, para procesar la informacion y se enviada</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-database"></i></div>
                        <h4 class="title"><a href="">Almacenar Informacion</a></h4>
                        <p class="description">Almacenar informacion recolectada en un punto centralizado, para la toma de decisiones</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-cloud"></i></div>
                        <h4 class="title"><a href="">Cloud</a></h4>
                        <p class="description">Implementacion en cualquier Nube Publica o Privada, Aws, Azure, etc </p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon"><i class="icofont-stock-mobile"></i></div>
                        <h4 class="title"><a href="">Movil</a></h4>
                        <p class="description">Acceso desde cualquie cliente movil o fijo</p>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>iPortfolio</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>